/**
 * Styles specific to Special:CentralNotice
 *
 * This file is part of the CentralNotice Extension to MediaWiki
 * https://www.mediawiki.org/wiki/Extension:CentralNotice
 *
 * @section LICENSE
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program; if not, write to the Free Software Foundation, Inc.,
 * 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA.
 * http://www.gnu.org/copyleft/gpl.html
 *
 * @file
 */

.cn-formsection-emphasis {
	padding: 0.5em;
	background-color: #FFFFFF;
	border: 1px solid #2F6FAB;
}

.cn-buttons {
	text-align: right;
}

.cn-active-campaign {
	background-color: #ddffdd;
}

#preferences .ui-slider {
	width: 50%;
}

#centralnotice-throttle-echo {
	font-weight: bold;
	line-height: 200%;
}
