#mw-navigation,
#footer,
#content a#top,
#firstHeading,
div#bodyContent {
    display: none;
}

body,
#mw-head-base,
#mw-page-base,
div#content {
	height: auto;
	margin: 0;
	margin-left: 0;
	padding: 0;
	background: #FFFFFF;
	border: none;
}

.vector-animateLayout {
	transition: none;
}
