/* Must override .mw-datatable td, rule in skins/common/shared.css */
tr.cn-active-campaign td {
	background-color: #dfd;
}

.cn-archived-item {
	display: none;
}

.cn-formsection-emphasis {
	padding: 0.5em;
	background-color: #fff;
	border: 1px solid #2a4b8d;
}
